body {
    height: 56px;
}

#navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#navbar #search-bar input {
    height: 36px;
    border-radius: 5px;
}

#navbar #nav-buttons {
    display: flex;
    margin-right: 20px;
    justify-content: space-around;
    gap: 30px;
}