form{
    display: flex;
    flex-direction: column;
    input{
        width: 100%;
        max-width: 280px;
        font-size: 1.3em;
        border-radius: 0.6em;
        padding: 12px 20px;
        border-color: #1B1B1B;
        border: 2px solid;
        margin: 8px 0;
        box-sizing: border-box;
        outline: none;
    }
}

.login {
    min-height: 220px;
}

.signup {
    display: none;
    min-height: 300px;
}

h3 {
    text-align: center;
    color: white;
    font-size: medium;
    margin-top: 5px;
    a {
        color: lightblue;
    }
}
.not_valid{
    display: flex;
    text-align: left;
    margin: 0;
    padding: 2px; /* Adds slight padding to prevent alignment shift */
    font-size: 0.9em;
    width: 100%;
    max-width: 280px; /* Ensures the error message doesn't exceed the width of the form */
    color: red;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word; /* Ensures long words wrap within the container */
    box-sizing: border-box;
}

.music_icon {
    max-height: 80px;
    display: flex;
    position: absolute;
    top: 1em;
    right: 2em;
    z-index: 1000; /* Ensure it's above other elements */
    pointer-events: auto; /* Ensure it is clickable */
    cursor: pointer; /* Makes it clear that it's clickable */
}

.logo {
    max-height: 20em;
}

.content-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
