* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #1B2838;
    /*background: radial-gradient(
        circle,
        rgba(44, 62, 80, 1) 0%,
        rgba(34, 49, 63, 1) 50%,
        rgba(19, 30, 40, 1) 100%
    );*/
    color: #E5E5E5;
    font-family: 'Arial', sans-serif;
}

body.dimmed {
    overflow: hidden;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    z-index: 2;
}

nav iframe {
    width: 100%;
    height: 100%;
}

main {
    margin-top: 106px;    
}

footer {
    height: 40px;
    margin-top: 50px;
}

footer iframe {
    width: 100%;
    height: 100%;
}





button, input[type=submit] {
    background-color: #1F8A70;
    color: #E5E5E5;
    border: none;
    border-radius: 0.6em;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover, input[type=submit]:hover {
    background-color: #3BAF8E;
}

header {
    background-color: #2E2E2E;
    padding: 15px;
    border-bottom: 2px solid #1F8A70;
}



h1, h2 {
    color: #F2A365;
    text-align: center;
}