#profile-page {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* Header */
#profile-header {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #2a475e;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#profile-picture {
    width: 100px;
    height: 100px;
    background: #2a475e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 20px;
}

#placeholder {
    width: 100%;
    height: 100%;
    font-size: 50px;
    color: #c7d5e0;
    border-radius: 5px;
}

#profile-info {
    flex-grow: 1;
}

#username {
    font-size: 2.7rem;
    margin: 0;
}

#email {
    text-align: center;
    font-size: 1.7rem;
    margin: 5px 0 0;
}

/* Recent Activity */
#recent-activity {
    flex: 2;
    padding: 20px;
    background: #171a21;
    border-radius: 5px;
}

#recent-activity h2 {
    border-bottom: 2px solid #2a475e;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.activity-item {
    display: flex;
    margin-bottom: 20px;
}

.game-thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.activity-info {
    flex-grow: 1;
}

.game-title {
    font-size: 1.2rem;
    margin: 0;
}

.play-time,
.last-played {
    margin: 5px 0;
}