body {
    margin: 0;
    overflow: hidden;
    align-content: center;
}

#game-area {
    position: relative;
    height: 525px;
    width: 60%;
    margin: 0 auto;
    background: #2c3e50;
    border: 2px solid white;
}

#player {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background: blue;
}

.obstacle {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
}

#restart-game {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}