body {
    margin: 0;
    overflow: hidden;
    align-content: center;
}

#game-area {
    position: relative;
    height: 525px;
    width: 60%;
    margin: 0 auto;
    background: #2c3e50;
    border: 2px solid white;
}

#restart-game {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}