body {
    margin: 0;
    overflow: hidden;
    align-content: center;
}

#game-area {
    position: relative;
    height: 525px;
    width: 60%;
    margin: 0 auto;
    background: #2c3e50;
    border: 2px solid white;
}

#restart-game {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#music-button {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 10px;
    max-height: 80px;
    display: flex;
    position: absolute;
    z-index: 1000; /* Ensure it's above other elements */
    pointer-events: auto; /* Ensure it is clickable */
    cursor: pointer; /* Makes it clear that it's clickable */
}

#no-preview-available {
    text-align: center;
}